<ion-view view-title="Home">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="updateDaily()">
    </ion-refresher>
    <div class="list">

      <a class="item item-avatar-left" ng-repeat="achievement in daily" ui-sref="app.achievementDetail({id: achievement.id})">
        <img src="assets/img/Daily_Achievement.png" alt="">
        <h2>{{achievement.name}}</h2>
        <p>{{achievement.description||'No Description Available'}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
